html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #bc8f8f;
}

/* marmelad-regular - latin */
@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'),
    url('./fonts/marmelad-v9-latin-regular.woff2') format('woff2'),
    url('./fonts/marmelad-v9-latin-regular.woff') format('woff');
}

.container {
  width: 960px;
  margin: 0 auto;
  background: #f7dac6;
}

.form-section {
  margin: 20px;
  text-align: center;
  border: 2px solid #5f4638;
}

.form__heading {
  font-family: 'Marmelad';
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 80px;
  text-transform: uppercase;
  color: #5f4638;
}

.form__text {
  font-family: 'Marmelad';
  font-size: 20px;
  color: #5f4638;
  padding: 0px 100px;
  margin-bottom: 110px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}

.label {
  position: relative;
  min-width: 310px;
  display: flex;
  margin-bottom: 90px;
  align-items: center;
  border-bottom: 1px solid #5f4638;
}

.label:last-of-type {
  margin-bottom: 0;
}

input {
  font-family: 'Marmelad';
  font-size: 16px;
  color: #5f4638;
  width: 100%;
  padding-bottom: 10px;
  border: none;
  background: #f7dac6;
}

input::placeholder {
  color: #5f4638;
}

input:focus {
  outline: none;
}

.input-btn {
  position: absolute;
  top: 0;
  left: 90%;
  padding: 0;
  border: none;
  background: #f7dac6;
  pointer-events: none;
  cursor: pointer;
}

.material-icons {
  color: #5f4638;
}

.check-btn {
  position: relative;
  min-width: 310px;
  padding: 0;
  text-transform: uppercase;
  border: 1px solid #5f4638;
  background-color: #f7dac6;
  font-family: 'Marmelad';
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  z-index: 2;
}

.check-btn::before,
.check-btn::after {
  content: '';
  display: block;
  width: 330px;
  height: 16px;
  border: 1px solid #5f4638;
  position: absolute;
  z-index: 1;
}

.check-btn::before {
  top: 0;
  left: -10px;
}

.check-btn::after {
  bottom: 0;
  left: -10px;
}

.validation {
  position: absolute;
  right: 0;
  bottom: -30px;
  font-family: 'Marmelad';
  font-size: 16px;
  color: red;
}

.calendar-is-hidden,
.time-is-hidden,
.people-is-hidden {
  display: none;
}

/* Calendar styles */

.qs-datepicker {
  background: #f7dac6;
}

.qs-datepicker-container {
  width: 310px !important;
}

.qs-controls {
  background-color: #f7dac6 !important;
}

.qs-left::after {
  border-right-color: #5f4638 !important;
  content: '&#60;';
}

.qs-right::after {
  border-left-color: #5f4638 !important;
  content: '&#62;';
}

.qs-month-year {
  font-family: 'Marmelad';
  font-size: 14px;
  color: #5f4638;
  text-transform: uppercase;
}

.qs-squares {
  font-family: 'Marmelad';
  font-size: 12px;
  color: #5f4638;
  text-transform: uppercase;
}
